# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui

dados =  [-0.08, -0.27,  0.12,  -0.03, 0.26, 0.40, 1.02]

tempMediaSemIndex = pd.Series(dados)
tempMediaSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:
# seu código aqui

decadas =  ['1900','1920','1940','1960','1980','2000','2020']

tempMediaComIndex  = pd.Series(dados,
                               index=decadas)

tempMediaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

tempMediaSeries = pd.Series(dic_temperaturas)
tempMediaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [23]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

dataFrame = pd.DataFrame(arr)

dataFrame

             0           1           2
0    89.528116  111.032189  105.550365
1    99.079793   97.441891   99.784617
2    99.282473   89.477109   88.673703
3    95.509101  104.263914   87.043056
4   101.385308   92.004386  113.503374
5   104.822358   80.539256  101.916494
6   107.077719  113.838210   91.376933
7    90.457427  107.368572  110.042450
8    90.334058  112.589717  107.814861
9   109.487206  104.868930   99.165711
10   99.851451  108.138135  104.635328
11   98.604456   91.280019  120.324824
12  102.620233   98.827778   80.900879
13  100.777438   97.348267   96.164182
14   93.605761  107.103459   81.445680
15   98.456098   91.802468   95.344082
16  102.374804  113.139463   92.197780
17  101.113683   93.247030  100.014913
18   97.934721   92.249659   92.948943
19   99.923191  108.228831   87.513671

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [41]:
#seu código aqui

dataFrame.index  =  range(1,21)
dataFrame.columns =  ['x1', 'x2', 'x3']

dataFrame

ValueError: Length mismatch: Expected axis has 6 elements, new values have 3 elements

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [42]:
# seu código aqui

dataFrame['média'] =  (dataFrame['x1']  + dataFrame['x2'] + dataFrame['x3']) / 3

dataFrame

            x1          x2          x3       média       media   log_med
1    89.528116  111.032189  105.550365  102.036890  102.036890  4.625334
2    99.079793   97.441891   99.784617   98.768767   98.768767  4.592781
3    99.282473   89.477109   88.673703   92.477762   92.477762  4.526968
4    95.509101  104.263914   87.043056   95.605357   95.605357  4.560229
5   101.385308   92.004386  113.503374  102.297689  102.297689  4.627887
6   104.822358   80.539256  101.916494   95.759369   95.759369  4.561838
7   107.077719  113.838210   91.376933  104.097621  104.097621  4.645329
8    90.457427  107.368572  110.042450  102.622816  102.622816  4.631060
9    90.334058  112.589717  107.814861  103.579545  103.579545  4.640340
10  109.487206  104.868930   99.165711  104.507282  104.507282  4.649257
11   99.851451  108.138135  104.635328  104.208305  104.208305  4.646392
12   98.604456   91.280019  120.324824  103.403100  103.403100  4.638635
13  102.620233   98.827778   80.900879   94.116297   94.116297  4.544531
14  100.777438   97.348267   96.164182   98.096629   98.096629  4.585953
15   93.605761  107.103459   81.445680   94.051633   94.051633  4.543844
16   98.456098   91.802468   95.344082   95.200883   95.200883  4.555989
17  102.374804  113.139463   92.197780  102.570682  102.570682  4.630552
18  101.113683   93.247030  100.014913   98.125208   98.125208  4.586244
19   97.934721   92.249659   92.948943   94.377774   94.377774  4.547306
20   99.923191  108.228831   87.513671   98.555231   98.555231  4.590617

# poderia resolver a questão acima dessa forma também:

# dataFrame['media'] = dataFrame.mean(axis=1)

# dataFrame

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [43]:
# seu código aqui

dataFrame['log_med'] = np.log(dataFrame['média'])

dataFrame

            x1          x2          x3       média       media   log_med
1    89.528116  111.032189  105.550365  102.036890  102.036890  4.625334
2    99.079793   97.441891   99.784617   98.768767   98.768767  4.592781
3    99.282473   89.477109   88.673703   92.477762   92.477762  4.526968
4    95.509101  104.263914   87.043056   95.605357   95.605357  4.560229
5   101.385308   92.004386  113.503374  102.297689  102.297689  4.627887
6   104.822358   80.539256  101.916494   95.759369   95.759369  4.561838
7   107.077719  113.838210   91.376933  104.097621  104.097621  4.645329
8    90.457427  107.368572  110.042450  102.622816  102.622816  4.631060
9    90.334058  112.589717  107.814861  103.579545  103.579545  4.640340
10  109.487206  104.868930   99.165711  104.507282  104.507282  4.649257
11   99.851451  108.138135  104.635328  104.208305  104.208305  4.646392
12   98.604456   91.280019  120.324824  103.403100  103.403100  4.638635
13  102.620233   98.827778   80.900879   94.116297   94.116297  4.544531
14  100.777438   97.348267   96.164182   98.096629   98.096629  4.585953
15   93.605761  107.103459   81.445680   94.051633   94.051633  4.543844
16   98.456098   91.802468   95.344082   95.200883   95.200883  4.555989
17  102.374804  113.139463   92.197780  102.570682  102.570682  4.630552
18  101.113683   93.247030  100.014913   98.125208   98.125208  4.586244
19   97.934721   92.249659   92.948943   94.377774   94.377774  4.547306
20   99.923191  108.228831   87.513671   98.555231   98.555231  4.590617